<div class="mt-5">
    <h2 class="d-flex justify-content-center">Experience</h2>
    <div class="d-flex justify-content-center">
        <ol class="list-group gap-1 w-75">
            <ListGroupItem List="@SAICJob" Title="SAIC Technology Integration Gateway" />
            <ListGroupItem List="@TarusMediaJob" Title="Taurus Media LLC" />
            <ListGroupItem List="@SpriteCreatorJob" Title="Sprite Creator By CircleWorks" />
            <ListGroupItem List="@AmazonJob" Title="Amazon" />
            <ListGroupItem List="@ComputerTechJob" Title="Computer Technician" />
            <ListGroupItem List="@WalMartJob" Title="Wal-Mart" />
        </ol>
    </div>
</div>
